body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 20px;
}

.card {
  background: white;
  margin: 20px auto;
  padding: 15px;
  width: 400px;
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
}
